body, p, td, div, li { color: #181818; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none; background-repeat: repeat-y}
h3 { color:#006633; font-family: Verdana, Arial, Helvetica; }
.golden_apple { color:#ffcc00; font-size:18px; line-height:22px; font-family:Verdana, Arial, Helvetica; font-weight: bold; }
a { color: #181818; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: underline }
.page_title { color: #000000; font-weight: bold; font-size: 14px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.page_subtitle { color: #000000; font-size: 14px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.area_header { color: #000000; font-weight: bold; font-size: 14px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.headline { color: #006633; font-weight: bold; font-size: 14px; line-height: 16px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.bodytextbold_red { color: #CC0000; font-weight: bold; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none }
.bodytext_green {color: #006633; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.bodytextbold_green {color: #006633; font-size: 11px; line-height: 15px; font-weight: bold; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.bodytextbold_blue {color: #88ACE0; font-size: 11px; line-height: 15px; font-weight: bold; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
a.bodytext_green {color: #FF3300; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
a.bodytext_green:hover { color: #FF3300; text-decoration:underline;}
.bodytext { color: #333333; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.bodytextbold { color: #333333; font-weight: bold; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none }
.bodytextboldital  { color: #333333; font-style: italic; font-weight: bold; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none }
.caption { color: #666666; font-style: italic; font-size: 9px; line-height: 11px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.module_header { color: #4C4C4C; font-weight: bold; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.module_subheader { color: #4C4C4C; font-weight: bold; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.module_bodytext { color: #4C4C4C; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.module_bodytextbold { color: #4C4C4C; font-weight: bold; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none }
.highlight_bodytext { color: #FF3300; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.highlight_bodytext_ital { color: #FF3300; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none ; font-style: italic}
.highlight_bodytextbold { color: #FF3300; font-weight: bold; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none }
.highlight_bodytextbold_large { color: #FF3300; font-weight: bold; font-size: 15px; line-height: 21px; font-family: Verdana, Arial, Helvetica; text-decoration: none }
.footer_header { color: #666666; font-weight: bold; font-size: 10px; line-height: 13px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.footer_text { color: #666666; font-size: 10px; line-height: 13px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.nav_subsection { color: #FF3300; font-size: 11px; line-height: 16px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.nav_section { color: #000000; font-size: 11px; line-height: 22px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
a.nav_section { color: #000000; font-size: 11px; line-height: 13px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
a.nav_section_active { color: #FF3300; font-weight: bold; font-size: 11px; line-height: 13px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
a.nav_subsection { color: #FF3300; font-size: 11px; line-height: 16px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
a.nav_subsection_active { color: #FF3300; font-size: 11px; line-height: 16px; font-family: Verdana, Arial, Helvetica; text-decoration: underline } 
a.bodytext_underline { color: #333333; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: underline } 
a.bodytextbold_underline { color: #333333; font-weight: bold; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: underline } 
a.module_bodytext_underline { color: #000000; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: underline } 
a.module_bodytext_underline:hover { color: #990000; }
a.module_bodytext_underline_bold { color: #000000; font-size: 11px; font-weight: bold; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: underline } 
a.module_bodytext_underline_bold:hover { color: #990000; }
.module_text_red { color: #990000; font-weight: bold; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: none } 
.module_bodytext_underline { color: #4C4C4C; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: underline } 
.module_bodytext_underline:hover { color: #FF3300; }
a.highlight_bodytext_underline { color: #FF3300; font-size: 11px; line-height: 15px; font-family: Verdana, Arial, Helvetica; text-decoration: underline } 
a:hover { color: #FF3300; text-decoration: underline } 
.right_column_box { font-family: Verdana; font-size: 11px; color: #000000; background-color: #FFFFFF; font-weight: normal; width:150px }

.filter_bg{background-color:#a4d49a;padding:20px;}
.filter_header{color: #006633; font-weight: bold; font-size: 14px; line-height: 16px; font-family: Verdana, Arial, Helvetica; text-decoration: none;}
.filter_field{padding:15px 0px 20px 0px;}
.resultsMessage{padding:0px 3px 15px 0px;}
.resultsSpan{padding-bottom:10px;}
.results_div{padding-top:15px;}
.results_header{color:#000000;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; line-height:17px;font-weight:bold; text-decoration:none;}
.red_bold{color:#cc0000; font-weight:bold;}
.suggest_over{background-color:#dddddd;cursor:pointer;}
.active_link{color:#FF3300; text-decoration:none;}
.rc_filter_field{padding:0px 0px 10px 0px;}
.results_item{background-color:#dbdbdb;border-bottom:3px solid #ffffff; padding:10px;}

.label{background-color:#e7e7e7;color:#000000; font-size:12px; line-height:15px; padding:6px 6px 8px 0px; text-align:right; border-bottom:3px solid #ffffff;}
.field{color:#000000; font-size:12px; line-height:15px; padding:4px 0px 5px 8px; border-bottom:3px solid #ffffff;}

.popup{visibility:hidden;border:2px solid #ff6600;z-index:20;position:absolute;top:185px;left:318px;background-color:#ffffff;}
.popup_table{padding:14px 18px 20px 18px;}
.buttons{text-align:right; padding-top:12px;}
.popup_field{color:#000000; font-size:12px; line-height:15px; padding-top:4px;padding-bottom:5px;padding-left:8px;}
.popup_label{background-color:#e7e7e7;color:#000000; font-size:12px; line-height:15px; padding-top:6px;padding-bottom:8px;padding-right:6px; text-align:right;}

.shim{visibility: hidden;z-index:10;position:absolute;top:185px;left:318px;}

.yellow_button{
	background-color:#FFCC00;
	border-width:1px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:11px;
	vertical-align:middle;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	height:24px;
	padding-bottom:2px;
	*padding-bottom:0px;
}
