.panel {
    display: none;
}

.col-md-6 {
    margin-left: 5%;
}

.information {
    display: inline-block;
    width: 70%;
    height: 100%;
}

.individual-map-button {
    display: inline-block;
    width: 15%;
    margin-bottom: 10px;
}

.map-button {
    height: 100%;
    padding-top: 80px;
    width: 100%;
    background: url(images/sanitation-logo.png);
    background-size: 50%;
}
