.panel {
    display: none;
}

.col-md-6 {
    margin-left: 5%;
}

.information {
    display: inline-block;
    width: 70%;
    height: 100%;
}

.individual-map-button {
    display: inline-block;
    width: 15%;
    height: 100%;
}
