body {
    background-color: #efefef;
}

h1 {
    text-align: center;
}

.input-arena {
    text-align: center;
    background-color: #66b98f;
    margin: 0 auto;
    width: 300px;
    padding: 1px 0px 30px 0px;
}

.display-arena {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    background-color: #eeaa7b;
    padding: 5px 0 10px 0;
}

#correct,
#correct_address,
#address_choices {
    display: none;
}

#verify {
    height: 30px;
    width: 100px;
}
