.App {
  height:100%;
  width:100%
}

.left-nav{
  width: 18vw;
  height: 100vh;
  float: left;
  background-color: #232f34;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
