
*{
  font-family: 'Rubik', sans-serif;
-webkit-font-smoothing: antialiased;
color: #232F34
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(237, 240, 242);
  color: #232F34
}

#login{
  margin-top:5%
}
 #login-button{
   background-color: rgb(237, 240, 242);
   color:#232F34;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   font-weight: bold;
 }

input:focus{
  border-color: none
}
input:-webkit-autofill:focus{
  border-color: none
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}*/

#logincontainer {
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color:#fff;
  border-top:2px solid #f9aa33
/*÷background-color: white*/
}

#logincontainer input{
  font-size: 1em;
  width: 80%;
  margin: auto;
  height: 50px;
  margin-top:20px;
  padding: 5px;
  background-color: white;
  border:none;
  border-bottom:2px solid rgb(237, 240, 242);
  color: #232F34
}

#username{
  position:absolute;
  top: 5%;
  left: 0;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 100%;
  width: 250px;


}

.user{
    color:white;

}


.licenses{
  position: absolute;
  top: 0;
  left:0;
  border-right: 1px solid rgb(213, 237, 233);
  width: 15vw;
  height: 100%;
  float: left;
  padding-top: 50%;
  background-color: #344955;
  color:white;

}

.largeButtons {
  display: block;
  width: 160px;
  height: 40px;
  font-size: 1em;
  /*font-weight:bold;*/
  margin: 10px auto;
  border:none;
  background-color: transparent;
  color:white
}


button:focus{
  /*background-color:rgba(183,222,237,1);*/
  color:#f9aa33;
  font-weight: bolder;
  outline: none;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}

.buttons-container{
height: 100px;
font-family : inherit;
margin-left: 70px
}
.mButtonContainer {
  width: 160;
  float: left;
  margin-top: 50px;
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.error{
  margin:2px;
  color:#fd5523;
  font-family: 'Rubik', sans-serif;
-webkit-font-smoothing: antialiased;
}

.success{
  color: #214238;

}

.poolscontainer{
  /*display:inline-block;*/
  width:85vw;
  float:right;
  margin-top: 10%
  /*margin: 50px*/
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color:#214238
}

tr{
    background-color: white;
    height:50px;
    border-radius: 10%;
    padding: 2px
}

th{
  color: #232F34
}



table{
  width:75vw;
  margin:auto;
  border-radius: 10%;
  color: #4a6572
}

.yellow-button{
  background-color: #f9aa33;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  width: 200px;
  height: 50px;
  font-family : inherit;
  border:none;
  margin: 10px 10px;
  font-size: 1em;
  float:left
}
