
*{
  font-family: 'Rubik', sans-serif;
-webkit-font-smoothing: antialiased;
color: #232F34
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(237, 240, 242);
  color: #232F34
}

#login{
  margin-top:5%
}
 #login-button{
   background-color: rgb(237, 240, 242);
   color:#344955;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   font-weight: bold;
   font-family : inherit;
   border-radius: 20px;
    font-size: 1em
 }

 #login input{
    font-family: 'Rubik', sans-serif;
     color:#344955;
     font-size: 1em
 }

input:focus{
  border-color: none
}
input:-webkit-autofill:focus{
  border-color: none
}

input:active{
outline: none
}
input:-webkit-autofill:active{
  outline: none
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}*/

#logincontainer {
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color:#fff;
  border-top:2px solid #f9aa33
/*÷background-color: white*/
}

#logincontainer input{
  font-size: 1em;
  width: 80%;
  margin: auto;
  height: 50px;
  margin-top:20px;
  padding: 5px;
  background-color: white;
  border:none;
  border-bottom:2px solid rgb(237, 240, 242);
  color: #232F34;
  font-family : inherit;


}

#username{
  /*position:absolute;
  top: 5%;
  left: 0;*/
  float:left;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 100%;
  width: 250px;
  overflow: auto;

}

#username div{
  color: white;
  position:absolute;
  z-index:100;
  top: 5%;
  left: 0;
  margin: 20px 5px;
  width: 230px;
  height: 70px;
  font-size: 1.2em;
  word-wrap: break-word;
    font-family: 'Work Sans', sans-serif;
}


.licenses{
  position: absolute;
  top: 0;
  left:0;
  border-right: 1px solid rgb(213, 237, 233);
  width: 15vw;
  height: 100%;
  float: left;
  padding-top: 50%;
  background-color: #344955;
  color:white;
  font-family: 'Work Sans', sans-serif;
  z-index:-2px
}

.largeButtons {
  display: block;
  width: 190px;
  height: 50px;
  font-size: 1.2em;
  /*font-weight:bold;*/
  margin: 10px auto;
  border:none;
  background-color: transparent;
  color:white;
  font-family: 'Work Sans', sans-serif
}


button:focus{
  /*background-color:rgba(183,222,237,1);*/
  color:#f9aa33;
  font-weight: bold;
  outline: none;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}

.buttons-container{
height: 100px;
font-family : inherit;
margin-left: 70px
}


.inspections-container{
  width: 160;
}

.inspection{
  display:block;
  margin: 10px auto;
  border:none;
  background-color: transparent;
  color:white;
  font-family: 'Work Sans', sans-serif;
  font-size: 1em
}

ul{
   list-style-type: none;
}


.error{
  margin:2px;
  color:#fd5523;
  font-family: 'Rubik', sans-serif;
-webkit-font-smoothing: antialiased;
}

.success{
  color: #214238;
  font-family: 'Work Sans', sans-serif;
  font-size: 1em
}

.poolscontainer{
  /*display:inline-block;*/
  float: left;
  margin-top: 5px auto
  /*margin: 50px*/
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color:#214238
}

tr{
    background-color: white;
    height:50px;
    border-radius: 10%;
    padding: 2px
}

th{
  color: #344955;
  font-size: 1.2em
}

td{
  font-family: inherit;
  font-size: 1em
}


table{
  width:75vw;
  margin:auto;
  padding-top:10px;
  border-radius: 10%;
  color: #4a6572
}

#sample-form input[type=submit]{
  background-color: #f9aa33;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 90%;
  height: 50px;
  font-family : inherit;
  border:none;
  margin: auto;
  font-size: 1em;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pool-status-container {
  width:30%;
  height:120px;
  font-size: 1em;
  background-color: white;
  border-radius: 10px;

}

/*#pool-status-container label{
  display:block;
  font:inherit;
  text-align:left;
}*/

#pool-status-container select{
  height: 50px;
  display: inline;
  width: 30%;
  font: inherit;
  float:left;
  margin-left:5%
}

#pool-status-container input[type=submit]{
  background-color: #f9aa33;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 50%;
  font-family : inherit;
  border:none;
  font-size: 1em;
  display: inline;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.selected{
  color:#f9aa33;
  font-weight: bold
}

.rows{
  width:100%;
  margin: auto
}

.form-container{
  width: 100%;
  margin: auto;

}

#sample-form{
  background-color: white;
  width:100%;
  margin:5px auto;
  height:525px;
  padding-top: 10px;
  font-family : inherit;
  border-radius: 10px
}

#main{
  width:80vw;
  margin:5px auto;
  font-family : inherit;
  float: right;
}

/*#sample-form label{
  display: block;
  float: left;
  padding-left:30px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: 2%;
  font:inherit;
  color: #aeb4b7
}*/

label{
  display: block;
  text-align:left;
  padding-left:30px;
  padding-top: 5%;
  padding-bottom: 2px;
  margin-top: 2%;
  font:inherit;
  color: #aeb4b7
}

#sample-form input, select{
  width: 90%;
  height: 40px;
  display: block;
  margin:auto;
  font-size: 1em;
  border-radius: 5px;
  border: 2px solid rgb(237, 240, 242);
  color: #344955;
  padding: 2px 4px;
}



.column-left{
  float:left;
  width:50%
}

.column-right{
  float:right;
  width:50%
}

#sample-form textarea{
  display:block;
  width: 90%;
  height: 80px;
  margin:auto;
  border-radius: 5px;
  border: 2px solid rgb(237, 240, 242);
  font-size: 1em;
  color: #344955;
  font-family:inherit;
  padding:2px 4px
}

#logout{
  position: fixed;
  bottom:100%;
  left:0;
  font-family:inherit;
  color: white
}
