
.message-container{
    width:80%;
    background-color: white;
    font-size: 1.25rem;
    margin:15px auto;
    border-radius: 10px;
    height: 55px;
    padding: 15px 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;
}

.instructions{
  margin: 5% auto;
  height:auto;
}
